

  <figure class="figure">
    <img src="../../../assets/img/error404.png" class="figure-img img-fluid rounded" alt="error404.png">
    <figcaption class="figure-caption">Algo salio mal por favor vuelva a intentarlo mas tarde.</figcaption>
  </figure>
