<label ></label>
<div id="page-wrapper" style="min-height: 389px;">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Agregar Medicos</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <!-- /.panel -->
          <div class="panel panel-default">
              <div class="panel-heading">      
                        <form #medicoFormulario="ngForm" (ngSubmit)="onSubmit(medicoFormulario)">
                          <!-- TO UPDATE -->
                          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="medicoService.selectedMedico.$key">
                          <div class="container">
                            <div class="row"style="text-align:center; margin-top: 3%;">
                              <div class="col-lg-3">
                                <input type="text" class="form-control" name="nombre" #nombre="ngModel" placeholder="Nombre" [(ngModel)]="medicoService.selectedMedico.nombre" />
                              </div>
                                <div class="col-lg-3">
                                  <input type="text" class="form-control" name="apellido" #apellido="ngModel" placeholder="Apellido" [(ngModel)]="medicoService.selectedMedico.apellido" />
                                </div>
                                  <div class="col-lg-3">
                                    <input type="number" class="form-control" name="dni" #dni="ngModel" placeholder="Nro. de Dni" [(ngModel)]="medicoService.selectedMedico.dni" />
                                  </div>
                                    <div class="col-lg-3">
                                      <input type="text" class="form-control" name="especialidad" #especialidad="ngModel" placeholder="Especialidad" [(ngModel)]="medicoService.selectedMedico.especialidad" />
                                    </div>
                            </div>
                            <div class="row" style="text-align:center; margin-top: 2%;">
                              <div class="col-lg-3">
                                <input type="text" class="form-control" name="turno" #turno="ngModel" placeholder="Turno" [(ngModel)]="medicoService.selectedMedico.turno" />
                              </div>
                              <div class="col-lg-3">
                                <select class="form-control" name="obraSocial" #obraSocial="ngModel"  placeholder="Obra Social"[(ngModel)]="medicoService.selectedMedico.obraSocial" required>
                                  <option *ngFor="let obraSocial of obrasSociales" [ngValue]="obraSocial.nombre">{{ obraSocial.nombre }}</option>
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3" style=" margin-top: 2%;">
                              <div class="col-lg-8 offset-lg-8">
                                <button class="btn btn-primary" type="submit">
                                  <i class="fa fa-save"></i> Guardar
                                </button>
                                <button class="btn btn-secondary" type="reset" (click)="resetForm(medicoFormulario)">
                                  <i class="fas fa-sync-alt"></i> Reset
                                </button>
                              </div>
                            </div>
                          </div>  
                        </form> 
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>

