<div id="page-wrapper" style="min-height: 389px;" >
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Turnos</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #3997da;">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Listado de Turnos
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a routerLink="nuevo">+ Agregar Paciente</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                    <form role="form" (submit)="onEditar()">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre Medico</th>
                                            <th>Nombre Paciente</th>
                                            <th>Dia Turno</th>
                                            <th>Hora Turno</th>
                                            <th>Disponible</th> 
                                            <th>Acciones</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Turno of list">
                                            <td>{{ Turno.medico }} </td>  
                                            <td>{{ Turno.paciente }}</td>
                                            <td>{{ Turno.diaTurno }}</td>  
                                            <td>{{ Turno.horaTurno }}</td>
                                            <td>
                                                <div *ngIf="Turno.disponible; else templateName">
                                                    <span class="btn btn-primary btn-xs"> Si</span>     
                                                </div>
                                                
                                                <ng-template #templateName>
                                                    <span class="btn btn-danger btn-xs"> No </span>
                                                </ng-template>
                                               
                                            </td>  
                                            <td>
                                                <span class="btn btn-danger btn-xs" (click)="onBorrar(Turno.$key)">Borrar</span>
                                                <span class="btn btn-primary btn-xs" (click)="onUno(Turno.$key); onEditar()">Editar</span>                                      
                                            </td>
                                          
                                        </tr>
            
                                        <tr *ngFor="let Turno of list">
                                               
                                            <td  *ngIf="mostrar()">
                                                    <div>
                                                            <p>Ingrese nuevo dato</p>
                                                           
                                                            <input type="text" class="form-control" id="nombrePaciente" name="nombrePaciente" [(ngModel)]="nombreMedico"/>   
                                                          
                                                        </div>
                                            </td> 
                                               
                                            <td *ngIf="mostrar()">
                                                    <div >
                                                            <p>Ingrese nuevo dato</p>
                                                            <input type="text" class="form-control" id="paciente" name="paciente" [(ngModel)]="nombrePaciente"/>   
                                                    </div>
                                            </td> 
                                            <td *ngIf="mostrar()">
                                                    <div >
                                                            <p>Ingrese nuevo dato</p>
                                                            <input type="date" class="form-control" id="paciente" name="paciente" [(ngModel)]="diaTurno"/>   
                                                    </div>
                                                    
                                            </td> 
                                            <td *ngIf="mostrar()">
                                                    <div >
                                                            <p>Ingrese nuevo dato</p>
                                                            <input type="time" class="form-control" id="paciente" name="paciente"  [(ngModel)]="horaTurno"/>   
                                                    </div>
                                                    
                                            </td> 
                                            <td *ngIf="mostrar()">
                                                    <div *ngIf="Turno.disponible; else templateName">
                                                            <p>Ingrese nuevo dato</p>
                                                            <input type="checkbox" class="form-control form-sm" id="paciente" name="paciente" value="checked" [(ngModel)]="disponible"   checked />   
                                                          
                                                        </div>
                                                        
                                                        <ng-template #templateName>

                                                                <p>Ingrese nuevo dato</p>
                                                                <input type="checkbox" class="form-control form-sm" id="paciente" name="paciente" value="checked" [(ngModel)]="disponible"/>  
                                                            
                                                        </ng-template>
                                                    
                                            </td> 
                                            <td *ngIf="mostrar()">
                                                    <p>Opciones</p>
                                                    <span class="btn btn-danger btn-xs" (click)="onCancelarEditar(); traerTodo()">Cancelar</span>
                                                    <!-- <span class="btn btn-primary btn-xs" (click)="onCancelarEditar(); traerTodo()">Enviar</span> -->
                                                    <input type="submit" (click)="onEditar(Turno.$key); traerTodo(); onCancelarEditar()" value="Enviar Cambios" class="btn btn-primary btn-xs" >
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <!-- /.row -->          
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit" routerLink="newHorario" ><i class="fa fa-plus-circle"></i> Agregar Turno</button>
                    </div>
                    <!-- <div class="card-footer" >
                        <p #informacion>hola esto es un parrafo</p>
                    </div> -->
                    
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>


    





