<div id="page-wrapper" style="min-height: 389px;">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Medicos</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">

  <!-- /.factura -->
  <div class="panel-heading">    
                <div class="card mt-3">
                                <div class="card-header">               
                                    <IMG src="../../../../assets/img/logo.png"  height="80" width="150"/>   
                                    <div class="col">
                                            <p>
                                                    Nº Factura: 
                                            </p> 
                                            <p>
                                                    Fecha:
                                            </p>  
                                            <p>      
                                                    ingresos Brutos:
                                            </p> 
                                            <p>      
                                                    Inicio De Actividades:
                                            </p> 
                                    </div>             
                                </div>
                                
                                <strong>Factura</strong>
                                <div class="card-body" id="collapseCard2">
                                    
                                </div>
                            </div> 
            </div>
  <!-- /.factura -->

                        <!-- /.panel -->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">    
                                <i class="fa fa-bar-chart-o fa-fw"></i> Listado de Medicos
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a routerLink="nuevo">+ Agregar Medico</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                                        <thead>
                                                                                <tr>
                                                                                 <th>Cliente</th>
                                                                                 <th>Precio</th>
                                                                                 <th>Dia Turno</th>
                                                                                 <th>Hora Turno</th>
                                                                                 <th>Total</th>
                                                                                </tr>
                                                                                <tr>
                                                                                 <td>Tijeras</td>
                                                                                 <td>7</td>
                                                                                 <td>3</td>
                                                                                 <td>21</td>
                                                                                 <td>21</td>
                                                                                </tr>
                                                                                <tr>
                                                                                 <td>Tijeras</td>
                                                                                 <td>7</td>
                                                                                 <td>3</td>
                                                                                 <td>21</td>
                                                                                 <td>21</td>
                                                                                </tr>
                                                                                <tr>
                                                                                 <td>Bolígrafo</td>
                                                                                 <td>2</td>
                                                                                 <td>5</td>
                                                                                 <td>10</td>
                                                                                 <td>21</td>
                                                                                </tr>
                                                                                <tr>
                                                                                 <td>Grapadora</td>
                                                                                 <td>20</td>
                                                                                 <td>2</td>
                                                                                 <td>40</td>
                                                                                 <td>21</td>
                                                                                </tr>
                                                                                <tr>
                                                                                 <td>Carpeta</td>
                                                                                 <td>5</td>
                                                                                 <td>40</td>
                                                                                 <td>200</td>
                                                                                 <td>21</td>
                                                                                </tr>
                                                                                <tr>
                                                                                 <td colspan="3">Subtotal</td>
                                                                                 <td>250</td>
                                                                                 <td>21</td>
                                                                                </tr> 
                                                                                <tr>
                                                                                 <td colspan="3">Gastos de envío</td>
                                                                                 <td>5</td>
                                                                                 <td>21</td>
                                                                                </tr> 
                                                                                <tr>
                                                                                 <td colspan="3">Precio total</td>
                                                                                 <td>255</td>
                                                                                 <td>21</td>
                                                                                </tr> 
                                                                                </thead>
                                                                </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
