<div class="col-lg-12">
    <div class="jumbotron">
        <h1>Consultorio Medico Sagrada familia</h1>
        <p>Esta aplicacion esta fue desarrollada por Zaxf REX company.</p>
        <p>El propósito de este consultorio es proporcionar orientación y conocimiento sobre temas de salud de una manera rápida y fácil. En ningún caso la consulta debe sustituir la visita a su médico o a los servicios de urgencias. Nuestros especialistas responderán a sus consultas de una manera totalmente anónima y profesional.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="LoginEmpresa">Redes Sociales</a>
        </p>
    </div>
</div>
<div class="row">
  <div class="col-md-12 col-md-offset-3">
      <h1 class="page-header fa fa-download fa-5x"> Descargar aplicacion </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="col-md-3"></div>
  <!--android -->
<div class="col-md-3">
  <div class="panel panel-primary">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3 ">
                  <i class="fa fa-android fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge">Consultorio</div>
                  <div>Descargar apk para android</div>
              </div>
          </div>
      </div>
      <a href="https://www60.zippyshare.com/d/TYPQkGyo/20787/2767_13.mp4">
          <div class="panel-footer">
              <span class="pull-left">Descargar</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
          </div>
      </a>
  </div>
</div>
  <!--/android -->

    <!--windows -->
    <div class="col-md-3">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-windows fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">Consultorio</div>
                      <div>Descargar aplicacion para windows</div>
                  </div>
              </div>
          </div>
          <a href="https://umpxsg.bl.files.1drv.com/y4mWVQGDC2PkRUJ0lgJylu4iKu5Zd8k4UOMS5f7tg_xPR24MbnRYRYtNa0v4ZKSuzHeQnSJ2HGprfmOTJeiV8gFVV6_j-w-DG7KIKR36A2iMfcz1N83mIY2yEnyMSHfu2w0ncfeP_Rha1C2a9YNng-IU9tnAfFmIdljIauhZhGqpcK_JP5c2iR6iPQqcD8z-Mku/Zaxf%20REX%20%20%26%20Darry%20feat.%20Oceanically%20-%20Meteors%232.mp3?download&psid=1">
              <div class="panel-footer">
                  <span class="pull-left">Descargar</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
    </div>
    <!--/windows -->

