<label ></label>
<div id="page-wrapper" style="min-height: 389px;">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Agregar Horarios</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <!-- /.panel -->
          <div class="panel panel-default">
              <div class="panel-heading">      
                    <form #turnoFormulario="ngForm" (ngSubmit)="onSubmit(turnoFormulario)" name="formTurnoFormulario">
                            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="turnosService.selectedTurno.$key"/>
                            <div class="row">
                                
                                <div class="col-lg-3">       
                                    <label>Nombre Paciente</label>
                                    <input type="text" class="form-control" id="paciente" name="paciente" #paciente="ngModel" placeholder="Ej: Juan" [(ngModel)]="turnosService.selectedTurno.paciente"/>
                                    
                                </div>
        
                                <div class="col-lg-3">
                                        <label>Nombre Medico</label>
                                        <select class="form-control" name="medico" #medioco="ngModel" placeholder="Medico" [(ngModel)]="turnosService.selectedTurno.medico" required>
                                        <option *ngFor="let medico of medicos" [ngValue]="medico.nombre">{{ medico.nombre }}</option>
                                        </select>
                                </div>
                                <div class="col-lg-3">
                                        <label>Dia Del Turno</label>
                                    <input type="date" class="form-control" name="diaTurno" #diaTurno="ngModel" placeholder="diaTurno" [(ngModel)]="turnosService.selectedTurno.diaTurno"/>
                                </div>
                                <div class="col-lg-3">
                                        <label>Hora Del turno</label>
                                    <input type="time" class="form-control" name="horaTurno" #horaTurno="ngModel" placeholder="horaTurno" [(ngModel)]="turnosService.selectedTurno.horaTurno"/>
                                </div>
                                <div class="col-lg-1">
                                        <label>Disponible</label>
                                    <input type="checkbox" class="form-control" name="disponible" #disponible="ngModel" placeholder="disponible" [(ngModel)]="turnosService.selectedTurno.disponible"/>
                                </div>  
                            </div>
                            <button class="btn btn-primary" style="text-align:center; margin-top: 2%;" type="submit"><i class="fa fa-save"></i> Guardar</button> 
                        </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>












<div class="container-fluid bg">
    <div class="card">
        <div class="card-header ">Nuevo</div>
            <div class="card-body">
                
            </div>
    </div>
</div>
        
        
        
       