<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" style="background-color: #3997da;">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand fa fa-download" href="descargar" style="color:#000000;"> Descargas</a>
  </div>
</nav>


<div class="row">
    <div style="text-align:center; margin-top: 2%;">
        <img alt="Angular Logo" src="assets/img/logo.png">                                 
      </div>
      <div class="row text-center">
        <div class="col-lg">
          <h2 class="text-light fa fa-hospital-o fa-2x"> Consultorios Médicos Sagrada Familia</h2>
        </div>
      </div>
    <div class="col-md-4 col-md-offset-4" >
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Bienvenidos al sistema</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <a routerLink="/login" class="btn btn-lg btn-primary btn-block">Login</a>
                        </div>
                        <div class="form-group">
                            <a routerLink="/registro" class="btn btn-lg btn-primary btn-block">Registrarse</a>
                        </div>
                        
                        <a routerLink="/admin" class="btn btn-lg btn-primary btn-block">Admin</a>
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>