<div id="page-wrapper" style="min-height: 389px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Caja</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Listado de Pagos
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a routerLink="nuevo">+ Agregar Medico</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>Nº caja</th>
                                                        <th>Clinica</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   <!-- <tr *ngFor="let medico of list">
                                                        <td>{{ medico.nombre }}</td>
                                                        <td>{{ medico.apellido }}</td>   
                                                        <td>{{ medico.dni }}</td>    
                                                        <td>
                                                            <span class="btn-square badge badge-danger">Borrar</span>
                                                            <span class="btn-square badge badge-primary">Editar</span>
                                                        </td>
                                                    </tr>
                                                -->
                                                </tbody>
                                            </table>
                                </div>
                                <div class="card-footer">
                                        <button class="btn-sm btn-primary" routerLink="nuevo">Agregar Pago</button>
                                    </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
