<label ></label>
<div id="page-wrapper" style="min-height: 389px;">
       
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Agregar ObraSocial</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <!-- /.panel -->
          <div class="panel panel-default">
              <div class="panel-heading ">      
                  <form #obraSocialFormulario="ngForm" (ngSubmit)="onSubmit(obraSocialFormulario)">
                      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="obraSocialService.selectedObraSocial.$key"/>
                      <input type="text" class="form-control" name="nombre" #nombre="ngModel" placeholder="Nombre" [(ngModel)]="obraSocialService.selectedObraSocial.nombre"/>
                      <button class="btn btn-primary" type="submit" style="margin-top: 1%;"><i class="fa fa-save"></i> Guardar</button>
                    </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>


