<div id="page-wrapper" style="min-height: 389px;">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Agregar Horarios</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <!-- /.panel -->
          <div class="panel panel-default">
              <div class="panel-heading">      
                  <form #pacienteFormulario="ngForm" (ngSubmit)="onSubmit(pacienteFormulario)">
                      <!-- TO UPDATE -->
                      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clientesService.selectedPacientes.$key">
                      <div class="form-group">
                        <div class="row" style="text-align:center; margin-top: 2%;">
                          <div class="col-lg-3">
                            <input type="text" class="form-control" name="nombre" #nombre="ngModel" placeholder="Nombre" [(ngModel)]="clientesService.selectedPacientes.nombre" />
                          </div>
                          <div class="col-lg-3">
                            <input type="text" class="form-control" name="apellido" #apellido="ngModel" placeholder="Apellido" [(ngModel)]="clientesService.selectedPacientes.apellido" />
                          </div>
                          <div class="col-lg-3">
                            <input type="number" class="form-control" name="dni" #dni="ngModel" placeholder="Nro. de Dni" [(ngModel)]="clientesService.selectedPacientes.dni" />
                          </div>
                          <div class="col-lg-3">
                            <select class="form-control" name="obraSocial" #obraSocial="ngModel" [(ngModel)]="clientesService.selectedPacientes.obraSocial" required>
                              <option *ngFor="let obraSocial of obrasSociales" [ngValue]="obraSocial.nombre">{{ obraSocial.nombre }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="row" style="text-align:center; margin-top: 2%;">
                          <div class="col-lg-3">
                            <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                          </div>
                          <div class="col-lg-3">
                              <input type="text" class="form-control" name="historiaClinica" #historiaClinica="ngModel" placeholder="Historia Clinica" [(ngModel)]="clientesService.selectedPacientes.historiaClinica" />
                            </div>
                        </div>
                        
                        <!-- <div class="row" style="text-align:center; margin-top: 2%;">  
                          <div class="col-lg-3">                  
                            <span><p class="font-italic">Formas de pago más populares: </p></span>
                          </div> 
                          <span class="border">
                            <div class="col-lg-3">
                              <div class="form-group form-check">
                                <a title="amazon" href="https://www.amazon.com/ap/signin?_encoding=UTF8&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.pape.max_auth_age=0&ie=UTF8&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=amzn_lwa_na&marketPlaceId=ATVPDKIKX0DER&arb=e3430dc7-e7fa-47c6-81be-5cb99c9f4b08&language=en_US&openid.return_to=https%3A%2F%2Fna.account.amazon.com%2Fap%2Foa%3FmarketPlaceId%3DATVPDKIKX0DER%26arb%3De3430dc7-e7fa-47c6-81be-5cb99c9f4b08%26language%3Den_US&enableGlobalAccountCreation=1&metricIdentifier=amzn1.application.400fd79c2fb44d78a9b2c2414161796f&signedMetricIdentifier=bW21qUUnc5D027oz6VaFp8WXhFTGSLOsuQ9pULFmtgQ%3D">
                                <img src="../../../../../assets/img/amozon.png" alt="amazon" /></a>
                              </div>
                            </div>
                          </span>
                          <span class="border">
                            <div class="col-lg-3">
                              <div class="form-group form-check">
                                <a title="paypal" href="https://www.paypal.com/ar/signin?country.x=AR&locale.x=es_AR">
                                <img src="../../../../../assets/img/PayPal.png" alt="paypal" /></a>
                              </div>
                            </div>
                          </span>
                          <span class="border">
                            <div class="col-lg-3">
                              <div class="form-group form-check">
                                <a title="rapipago" href="https://www.rapipago.com.ar/rapipagoWeb/index.php/rapiclub">
                                <img src="../../../../../assets/img/rapipago.png" alt="rapipago" /></a>
                              </div>
                            </div>
                          </span>
                        </div> -->
                        
                          <!--botones-->
                          <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 2%;">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
                          </div>
                        
                      </div>  
                    </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>





<label ></label>
 <div class="container-fluid bg">
    <div class="card">
      
      <div class="card-body">
        
      </div>
    </div>
  </div> 