<div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Por favor, registrese</h3>
        </div>
        <div class="panel-body">
            <form role="form"  (submit)="onSubmitAddUser()">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" id="nombre" placeholder="Nombre" name="nombre" type="nombre" autofocus="" [(ngModel)]="nombre">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="apellido" placeholder="Apellido" name="apellido" type="apellido" autofocus="" [(ngModel)]="apellido">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="email" placeholder="E-mail" name="email" type="email" autofocus="" [(ngModel)]="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" value="" id="password" [(ngModel)]="password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="fechaNacimiento" name="fechaNacimiento" type="date" value="" id="fechaNacimiento" [(ngModel)]="fechaNacimiento">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Sexo</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" value="true" [(ngModel)]="customRadio" class="custom-control-input" >
                            <label class="custom-control-label" for="customRadio1">Masculino</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" value="false" [(ngModel)]="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Femenino</label>
                          </div>
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <input type="submit" value="Registrarse" class="btn btn-lg btn-primary btn-block">
                    <div class="text-center">
                        <a class="d-block small mt-3" href="register.html">Register an Account</a>               
                      </div>
                      <div class="text-center">                        
                          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                    
                    
                    
                    <!-- 
                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i> Conectarme con Facebook
                        </a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-twitter">
                            <i class="fa fa-twitter"></i> Conectarme con Twitter
                        </a>
                    </div> -->
                </fieldset>
            </form>
        </div>
    </div>
</div>
