<div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Por favor, registrese</h3>
        </div>
        <div class="panel-body">
            <form role="form"  (submit)="onSubmitLogin()">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" id="email" placeholder="E-mail" name="email" type="email" autofocus="" [(ngModel)]="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" value="" id="password" [(ngModel)]="password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                        </label>
                    </div>
                    
                    <!-- Change this to a button or input when using this as a form -->
                    <input type="submit" value="ENTRAR" class="btn btn-lg btn-primary btn-block">
                    <div class="text-center">
                        <a class="d-block small mt-3" href="register.html">Register an Account</a>               
                      </div>
                      <div class="text-center">                        
                          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                    
                    
                    
                    <!-- 
                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i> Conectarme con Facebook
                        </a>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block btn-social btn-twitter">
                            <i class="fa fa-twitter"></i> Conectarme con Twitter
                        </a>
                    </div> -->
                </fieldset>
            </form>
        </div>
    </div>
</div>
