<div class="row">
  
    <div class="col-md-4 col-md-offset-4">
        <img src="../../../assets/img/LogoEmpresa.jpg" class="centrado" alt="LogoEmpresa" >
        <h1 class="display-4" style="text-align:center; margin-top: 2%;">Zaxf REX Company</h1>


        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Redes Sociales</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group card card-login mx-auto mt-3">
                            <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/pablo.bonfante.3">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            
                            <a class="btn btn-block btn-social btn-instagram" href="https://www.instagram.com/pabloalexisbonfante/">
                                <i class="fa fa-instagram"></i> Instagram
                            </a>
                            <a class="btn btn-block btn-social btn-twitter"  href="https://twitter.com/BonfanteZ">
                                <i class="fa fa-twitter"></i> Twitter
                            </a> 
                            <a class="btn btn-block btn-social btn-twitter"  href="/home">
                              <i class="fa fa-play-circle-o"></i> Iniciar Aplicacion
                          </a>  
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>