<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Zaxf REX Company</h1>
      <p class="lead">Integrantes: Pablo Alexis Bonfante.
      </p>
    </div>
  </div>
  <!--
<body style="background-color:##003975;">
    <h1 class="display-3">
        <p class="font-weight-bold">Consultorio Medico Sagrada Familia</p>  
    </h1>
   
<div class="container-fluid">
    <div class="card mt-3">
        <div class="card-header">               
            <IMG src="../../../../assets/img/logo.png"  height="80" width="150"/>   
            <div class="col">
                <span class="border">
                    <h5>
                    <p>
                        El propósito de este consultorio es proporcionar orientación y conocimiento sobre temas de salud de una manera rápida y fácil. En ningún caso la consulta debe sustituir la visita a su médico o a los servicios de urgencias. Nuestros especialistas responderán a sus consultas de una manera totalmente anónima y profesional.
                    </p> 
                </h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.5831955536523!2d-58.98122778552195!3d-27.45109758289864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf0c84f0753%3A0x512936482d58a4a7!2sUTN+-+Facultad+Regional+Resistencia!5e0!3m2!1ses-419!2sar!4v1538408076204" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
                  </span>            
        </div>           
        </div>
    </div>     
  </div>
 -->
