
<div id="page-wrapper" style="min-height: 389px;">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Turnos Disponibles</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <!-- /.panel -->
          <div class="panel panel-default" >
              <div class="panel-heading" style="background-color: #3997da;">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Listado de Turnos Disponibles
                  <div class="pull-right">
                      <div class="btn-group">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                              Actions
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu pull-right" role="menu">
                              <li>
                                  <a routerLink="nuevo">+ Agregar Paciente</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-hover table-striped">
                                  <thead>
                                      <tr>
                                          <th>Nombre Medico</th>
                                          <th>Nombre Paciente</th>
                                          <th>Dia Turno</th>
                                          <th>Hora Turno</th>
                                          <th>Disponible</th> 
                                          <th>Acciones</th> 
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let Turno of list">
                                          <td>{{ Turno.medico }}</td>  
                                          <td>{{ Turno.paciente }}</td>
                                          <td>{{ Turno.diaTurno }}</td>      
                                          <td>{{ Turno.horaTurno }}</td>  
                                          <td>
                                              <div *ngIf="Turno.disponible; else templateName">
                                                  <span class="btn btn-primary btn-xs"> Si</span>
                                                 
                                              </div>
                                              
                                              <ng-template #templateName>
                                                  <span class="btn btn-danger btn-xs"> No </span>
                                              </ng-template>
                                             
                                          </td> 
                                          <td>
                                              <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                                                Pedir este turno
                                            </button>
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title" id="myModalLabel">Inserte nombre del paciente</h4>
                                                        </div>
                                                        <form role="form"  (submit)="onTomarTurno()">
                                                            <div class="modal-footer">
                                                                <input class="form-control" id="nombrePaciente" placeholder="nombrePaciente" name="nombrePaciente" type="nombrePaciente" autofocus="" [(ngModel)]="nombrePaciente">
                                                                <input type="submit" (click)="onTomarTurno(Turno, Turno.$key)" value="Registrarse" class="btn btn-lg btn-primary btn-block" >
                                                            </div>
                                                        </form>
                                                        <!-- </div> -->
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- /.table-responsive -->
                      </div>
                  </div>
                  <!-- /.row -->
                  <div class="card-footer">
                      <button class="btn btn-primary" type="submit" routerLink="elegirTurno" ><i class="fa fa-plus-circle"></i> Agregar Turno</button>
                  </div>
              </div>
              <!-- /.panel-body -->
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>



  





<div class="container-fluid bg">
<div class="card">
 <div class="card-header ">Horario De Atencion</div>
  <div class="card-body">   
    <form #turnoFormulario="ngForm" (ngSubmit)="onSubmit(turnoFormulario)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="turnosService.selectedTurno.$key"/>
      <div class="card-body" id="collapseCard2">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
            
        </table>
       
    </div>
         
    </form>
  </div>