<div id="page-wrapper" style="min-height: 389px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Medicos</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12" >
            <!-- /.panel -->
            <div class="panel panel-default" >
                <div class="panel-heading" style="background-color: #3997da;">
                    <i class="fa fa-bar-chart-o fa-fw" ></i> Listado de Medicos
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a routerLink="nuevo">+ Agregar Medico</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Dni</th>
                                            <th>Especialidad</th>
                                            <th>Turno</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let medico of list">
                                            <td>{{ medico.nombre }}</td>
                                            <td>{{ medico.apellido }}</td>   
                                            <td>{{ medico.dni }}</td>    
                                            <td>{{ medico.especialidad }}</td>  
                                            <td>{{ medico.turno }}</td>     
                                            <td>
                                                <button type="button" class="btn btn-danger btn-xs" (click)="onBorrar(medico.$key)">Borrar</button>
                                                <button type="button" class="btn btn-primary btn-xs">Editar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>