<div id="page-wrapper" style="min-height: 389px;">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Elegir Turno</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <!-- /.panel -->
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: #3997da;">      
                    <form #turnoFormulario="ngForm" (ngSubmit)="onSubmit(turnoFormulario)">
                            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="turnosService.selectedTurno.$key"/>
                            <div class="row">
                                
                                <div class="col-lg-3">       
                                    <label>Nombre Paciente</label>
                                    <input type="text" class="form-control" id="paciente" name="paciente" #paciente="ngModel" placeholder="Ej: Juan" [(ngModel)]="turnosService.selectedTurno.paciente"/>
                                </div>
                                <div class="col-lg-3">       
                                  <label>DNI Paciente</label>
                                  <input type="text" class="form-control" id="dniPaciente" name="dniPaciente" #dniPaciente="ngModel" placeholder="DNI" [(ngModel)]="turnosService.selectedTurno.dniPaciente"/>
                              </div>

                              <!-- <form name="form1"> 
                                Campo 1: <input type="text" name="field1" value=""> 
                                </form> 
                                <br> 
                                <form name="form2"> 
                                Campo 2: <input type="text" name="field2" value="" onkeyup="form1.field1.value=form2.field2.value"> 
                                </form> 
                                
                                <button onclick="document.form2.field2.value= 
                                document.form1.field1.value">Pasa Valor</button>  -->
                            </div>
                            <button class="btn btn-primary" style="text-align:center; margin-top: 2%;" type="submit"><i class="fa fa-save"></i> Guardar</button> 
                        </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>








