<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" style="background-color: #3997da;">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html" style="color:#000000;">Clinica</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
          
      <!-- /.dropdown -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#000000;">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li><a href="/home"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
          </ul>
          <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                  <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                  </div>
                  <!-- /input-group -->
              </li>
              <li>
                  <a class="nav-link" routerLink="/home" routerActive="active">
                    <i class="fa fa-ambulance fa-fw"></i> Clinica
                  </a>
              </li>
              <li>
                  <a class="nav-link" routerLink="obraSocial" routerActive="active">
                    <i class="fa fa-medkit fa-fw"></i> Obra Social
                  </a>
              </li>
              <li>
                  <a class="nav-link" routerLink="medicos" routerActive="active">
                    <i class="fa fa-user fa-fw"></i> Medicos
                  </a>
              </li>
              <li>
                  <a class="nav-link" routerLink="turno" routerActive="active">
                    <i class="fa fa-calendar fa-fw"></i> Turnos
                  </a>
              </li>
              <li>
                <a class="nav-link" routerLink="turno/turnoPaciente" routerActive="active">
                  <i class="fa fa-calendar fa-fw"></i> Turnos Disponibles
                </a>
            </li>
              <li>
                  <a class="nav-link" routerLink="pacientes" routerActive="active">
                    <i class="fa fa-user fa-fw"></i> Pacientes
                  </a>
              </li>
              <li>
                  <a class="nav-link" routerLink="caja" routerActive="active">
                    <i class="fa fa-shopping-cart fa-fw"></i> Caja
                  </a>
              </li>
              <li>
                  <a class="nav-link" routerLink="pacientes/NewPacientes/Factura" routerActive="active">
                    <i class="fa fa-file-text fa-fw"></i> Comprobantes
                  </a>
              </li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>