<div id="page-wrapper" style="min-height: 389px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pacientes</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #3997da;">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Listado de Pacientes
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a routerLink="nuevo">+ Agregar Paciente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Dni</th>
                                                <th>ObraSocial</th>
                                                <th>HistoriaClinica</th>
                                                <th>espera</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let Paciente of list">
                                                <td>{{ Paciente.nombre }}</td>
                                                <td>{{ Paciente.apellido }}</td>   
                                                <td>{{ Paciente.dni }}</td>    
                                                <td>{{ Paciente.obraSocial }}</td>  
                                                <td>{{ Paciente.historiaClinica }}</td>  
                                                <td>{{ Paciente.espera }}</td>    
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-xs" (click)="onBorrar(Paciente.$key)">Borrar</button>
                                                    <button type="button" class="btn btn-primary btn-xs">Editar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="card-footer">
                            <button class="btn-sm btn-primary fa fa-plus-circle" routerLink="NewPacientes"> Agregar Paciente</button>
                            <input type="text" #ObraSocial class="form-control" value="{{ nombre }}" />
                            <button class="btn-sm btn-default" (click)="onFiltrarPorObraSocial(ObraSocial.value)">Filtrar por Obra social</button>
                            <button class="btn-sm btn-default" (click)="onFiltrarPorEspera(true)">Filtrar por Espera</button>
                            <button class="btn-sm btn-default" (click)="onFiltrarPorAtendidos(false)">Filtrar por Atendido</button>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>



        